:root {
    --color__pri--dark-violet: hsl(256, 26%, 20%);
    --color__pri--grayish-blue: hsl(216, 30%, 68%);
    --color__neut--very-dark-violet: hsl(270, 9%, 17%);
    --color__neut--dark-grayish-violet: hsl(273, 4%, 51%);
    --color__neut--very-light-gray: hsl(0, 0%, 98%);
}

/* 
blocks
*/
.brand {
    display: flex;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    background-color: var(--color__neut--very-light-gray);
}

.icon {
    max-width: 100%;
}

.icon-group {
    display: flex;
}

.nav {
    display: flex;
}

/*
elements
*/
.header__close-icon {
    display: none;
}

.header__menu {
    display: none;
}

.page__header {
    position: relative;
}

/* 
modifiers 
*/
.page--marginless {
    margin: 0;
}