:root {
    --color__pri--dark-violet: hsl(256, 26%, 20%);
    --color__pri--grayish-blue: hsl(216, 30%, 68%);
    --color__neut--very-dark-violet: hsl(270, 9%, 17%);
    --color__neut--dark-grayish-violet: hsl(273, 4%, 51%);
    --color__neut--very-light-gray: hsl(0, 0%, 98%);
}

/* 
blocks
*/
.brand {
    display: flex;
}

.cta {
    border: 1px solid var(--color__neut--very-light-gray);
    padding: 12px 18px;
    font-family: Karla, sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    background-color: var(--color__neut--very-light-gray);
}

.hero {
    display: flex;
    box-sizing: border-box;
    width: 100vw;
}

.icon {
    max-width: 100%;
}

.icon-group {
    display: flex;
}

.item {
    box-sizing: border-box;
    text-align: center;
}

.img {
    background-repeat: no-repeat;
    background-size: cover;
    font-style: italic;
    shape-margin: 0.75rem;
    vertical-align: middle;
    height: auto;
    max-width: 100%;
}

.link {
    font-family: Karla, sans-serif;
    font-size: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
}

.main {
    box-sizing: border-box;
    overflow: hidden;
    width: 100vw;
}

.menu {
    display: flex;
    padding: 0;
    list-style-type: none;
}

.nav {
    display: flex;
}

/*
elements
*/
.header__close-icon {
    display: none;
}

.header__menu {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    display: none;
    flex-direction: column;
    row-gap: 10px;
    padding: 34px 24px;
    background: url("../images/bg-pattern-mobile-nav.svg")
                no-repeat
                0 calc(100% + 32px) / 100%;
    background-color: var(--color__neut--very-dark-violet);
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
}

.header__menu-item {
    padding: 15.5px 20px;
}

.header__menu-cta {
    margin-block-start: 7px;
}

.header__menu-link {
    color: var(--color__neut--very-light-gray);
    font-size: 1.21875rem;
    font-weight: 600;
    letter-spacing: 1.95px;
}

.home__hero {
    flex-direction: column-reverse;
}

.page__header {
    position: relative;
}

/* 
modifiers 
*/
.page--marginless {
    margin: 0;
}