.home__features {
    padding: 180px 24px 60px;
}

.home__hero {
    flex-direction: column-reverse;
}

.home__how-we-work {
    padding: 56px 24px;
}

@media screen and (min-width: 90rem) {
    .home__features {
        row-gap: 90px;
        padding: 365px 165px 80px;
    }

    .home__hero {
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        padding-inline: 165px;
        background-color: var(--color__pri--dark-violet);
    }
    
    .home__hero::before {
        position: absolute;
        left: 0;
        bottom: -337px;
        content: url("../images/bg-pattern-intro-left-desktop.svg");
    }
    
    .home__hero::after {
        position: absolute;
        top: -80px;
        right: 0;
        content: url("../images/bg-pattern-intro-right-desktop.svg");
    }
    
    .home__hero-img-group {
        max-height: 600px;
    }
    
    .home__hero-img {
        transform: translateY(105px);
    }

    .home__how-we-work {
        padding-inline: 165px;
    }
}

.attribution {
    border: 1px solid var(--color__pri--dark-violet);
    border-radius: 8px;
    padding: 8px 12px;
    font-family: Karla;
    font-size: 0.75rem; 
    line-height: 1.25;
    text-align: center;
    box-sizing: border-box;
}

.footer__attribution {
    position: relative;
    margin-block-start: 40px;
}